header {
  z-index: 10;
  border-bottom: 1px solid;
  flex-direction: row;
  width: 100%;
  height: 3rem;
  padding-left: .5rem;
  padding-right: .5rem;
  display: flex;
  position: fixed;
  top: 0;
}

header p {
  width: 100%;
}

.menu-holder {
  grid-template-rows: 3rem 0;
  width: 70%;
  height: fit-content;
  min-height: 3rem;
  transition: all .5s;
  display: grid;
  position: absolute;
  top: 100%;
  right: 15%;
  overflow: hidden;
}

.menu-holder #menu {
  transition: all .5s;
  display: block;
  overflow: hidden;
}

.menu-holder ul {
  height: inherit;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.menu-holder ul li {
  height: inherit;
  flex-direction: row;
  flex: 1;
  display: flex;
}

.menu-holder ul li a {
  flex: 1;
  place-items: center;
  display: grid;
}

#menu-btn {
  z-index: 100;
  cursor: pointer;
  border: 1px solid;
  border-top: none;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 100%;
  height: 2.5rem;
  margin: 0 auto;
  display: none;
}

#menu-btn svg {
  aspect-ratio: 1;
  height: 100%;
}

main {
  border-radius: 20px;
  flex-direction: column;
  width: 95%;
  max-width: 1400px;
  min-height: 100vh;
  margin: 10rem auto 0;
  padding: 1rem;
  display: flex;
}

main .information-box {
  border: 1px solid;
  border-radius: 20px;
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
  padding: 1rem;
}

main .information-box h2 {
  margin-top: .5rem;
  margin-bottom: 0;
}

main .information-box p {
  margin-top: .5rem;
}

main .page-holder {
  align-self: flex-end;
  margin: 2rem 2rem .5rem;
}

main .scss-evaluation-article {
  width: 90%;
  max-width: 700px;
}

main .scss-evaluation-article > ul {
  margin-top: 0;
  margin-bottom: 2rem;
}

main .scss-evaluation-article > p {
  margin-bottom: .2rem;
}

.list-navigation {
  justify-content: space-evenly;
  align-items: center;
  height: 4rem;
  margin: 4rem 0;
  display: flex;
}

.list-navigation #search-field, .list-navigation #search {
  height: 2rem;
}

.list-navigation .prev {
  transform: rotate(180deg);
}

#anime-list {
  flex-flow: wrap;
  justify-content: center;
  gap: 75px;
  display: flex;
}

.anime-list-item {
  border: 1px solid;
  border-radius: 20px;
  flex-direction: column;
  max-width: 600px;
  padding: 1rem;
  display: flex;
}

.anime-list-item .poster {
  float: left;
  width: 100%;
  max-width: 225px;
  height: auto;
  margin-right: 1rem;
}

.anime-list-item p {
  text-align: justify;
  margin: 0;
}

.anime-list-item h3 {
  margin-bottom: .1rem;
}

.anime-list-item .anime-info-table {
  width: 50%;
  margin: 0 auto;
}

.anime-list-item .anime-info-table tr {
  text-align: center;
  grid-template-rows: auto auto;
  grid-template-columns: 25% 25% 50%;
  display: grid;
}

.anime-list-item .anime-info-table tr td, .anime-list-item .anime-info-table tr th {
  border: 1px solid;
  align-content: center;
}

.here > a {
  z-index: 1;
  border-bottom: 3px solid;
  font-weight: 700;
  box-shadow: 0 5px 10px #000;
}

footer {
  border-top: 1px solid;
  flex-flow: wrap;
  justify-content: space-evenly;
  margin-top: 5rem;
  padding: .5rem;
  display: flex;
}

@media screen and (width <= 600px) {
  header {
    text-align: center;
  }

  .menu-holder {
    border-top: 1px solid;
    grid-template-rows: 0 2.5rem;
  }

  .menu-holder ul {
    flex-direction: column;
  }

  #menu {
    border-left: 1px solid;
    border-right: 1px solid;
    height: 0;
  }

  #menu-btn {
    display: block !important;
  }

  .anime-list-item .poster {
    float: none;
  }

  .anime-list-item table {
    width: 100%;
  }

  main {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

@media screen and (width >= 601px) {
  .menu-holder {
    grid-template-rows: 3rem 0 !important;
    top: 0 !important;
  }

  #menu {
    height: 3rem !important;
  }
}

body .button {
  background-color: #0fa;
}

body .button:hover {
  background-color: #00e699;
}

body .button:active {
  background-color: #0c8;
}

body header, .anime-info-table td header, .anime-info-table th header {
  background-color: #ecb8ec;
}

body header #menu, .anime-info-table td header #menu, .anime-info-table th header #menu, body header #menu li, .anime-info-table td header #menu li, .anime-info-table th header #menu li {
  background-color: #72cbee;
}

body header #menu li a, .anime-info-table td header #menu li a, .anime-info-table th header #menu li a {
  color: #111;
  text-decoration: none;
}

body header #menu li:active, .anime-info-table td header #menu li:active, .anime-info-table th header #menu li:active {
  background-color: #5bc3eb;
}

body header #menu li:hover, .anime-info-table td header #menu li:hover, .anime-info-table th header #menu li:hover {
  background-color: #64c6ec;
}

body header #menu-btn, .anime-info-table td header #menu-btn, .anime-info-table th header #menu-btn {
  background-color: #ecb8ec;
  border-color: #111;
}

body header .menu-holder, .anime-info-table td header .menu-holder, .anime-info-table th header .menu-holder {
  border-top-color: #ecb8ec;
}

body header #menu-btn > svg, .anime-info-table td header #menu-btn > svg, .anime-info-table th header #menu-btn > svg {
  fill: #111;
}

body main, .anime-info-table td main, .anime-info-table th main {
  background-color: #e6e6e6;
}

body main .information-box, .anime-info-table td main .information-box, .anime-info-table th main .information-box {
  background-color: #5599558c;
}

body .anime-list-item, .anime-info-table td .anime-list-item, .anime-info-table th .anime-list-item {
  background-color: #dfdfdf;
}

body #search-field, .anime-info-table td #search-field, .anime-info-table th #search-field {
  background-color: #0fa;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

body footer, .anime-info-table td footer, .anime-info-table th footer {
  background-color: #ecb8ec;
}

.anime-info-table td, .anime-info-table th {
  color: #111;
  background-color: #eee;
  border-color: #111;
}

@media (prefers-color-scheme: dark) {
  .anime-info-table td, .anime-info-table th {
    color: #eee;
    background-color: #333;
    border-color: #eee;
  }

  body header, .anime-info-table td header, .anime-info-table th header {
    background-color: #505;
  }

  body header #menu, .anime-info-table td header #menu, .anime-info-table th header #menu, body header #menu li, .anime-info-table td header #menu li, .anime-info-table th header #menu li {
    background-color: #00597c;
  }

  body header #menu li a, .anime-info-table td header #menu li a, .anime-info-table th header #menu li a {
    color: #eee;
    text-decoration: none;
  }

  body header #menu li:active, .anime-info-table td header #menu li:active, .anime-info-table th header #menu li:active {
    background-color: #004763;
  }

  body header #menu li:hover, .anime-info-table td header #menu li:hover, .anime-info-table th header #menu li:hover {
    background-color: #004e6d;
  }

  body header #menu-btn, .anime-info-table td header #menu-btn, .anime-info-table th header #menu-btn {
    background-color: #505;
    border-color: #eee;
  }

  body header .menu-holder, .anime-info-table td header .menu-holder, .anime-info-table th header .menu-holder {
    border-top-color: #505;
  }

  body header #menu-btn > svg, .anime-info-table td header #menu-btn > svg, .anime-info-table th header #menu-btn > svg {
    fill: #eee;
  }

  body main, .anime-info-table td main, .anime-info-table th main {
    background-color: #2b2b2b;
  }

  body main .information-box, .anime-info-table td main .information-box, .anime-info-table th main .information-box {
    background-color: #5599558c;
  }

  body main #cooldown-div, .anime-info-table td main #cooldown-div, .anime-info-table th main #cooldown-div {
    background-color: #222;
  }

  body main #powerful-btn, .anime-info-table td main #powerful-btn, .anime-info-table th main #powerful-btn {
    background-color: #eee;
  }

  body main #powerful-btn:hover, .anime-info-table td main #powerful-btn:hover, .anime-info-table th main #powerful-btn:hover {
    background-color: #e1e1e1;
  }

  body main #powerful-btn:active, .anime-info-table td main #powerful-btn:active, .anime-info-table th main #powerful-btn:active {
    background-color: #c8c8c8;
    font-size: .8rem;
  }

  body .anime-list-item, .anime-info-table td .anime-list-item, .anime-info-table th .anime-list-item {
    background-color: #242424;
  }

  body #search-field, .anime-info-table td #search-field, .anime-info-table th #search-field {
    color: #eee;
    background-color: #007a52;
    font-family: Roboto, Helvetica, Arial, sans-serif;
  }

  body footer, .anime-info-table td footer, .anime-info-table th footer {
    background-color: #505;
  }
}

.animation-display-frame {
  flex-direction: row;
  height: 400px;
  display: flex;
}

.animation-description {
  flex: 1;
  padding: .5rem;
}

.animation-box {
  border: 1px solid;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  display: flex;
  position: relative;
}

#animation-text {
  user-select: none;
  cursor: default;
  align-self: center;
  font-size: 1.5rem;
  animation: 2s infinite coolText;
  position: relative;
}

#animation-text:hover {
  animation: 2s infinite coolTextUpsideDown;
  transform: rotate(180deg);
}

#circle-displacement {
  background-color: green;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  animation: 4s ease-in-out infinite displacement;
  position: absolute;
}

#cooldown-div {
  z-index: 1;
  border-radius: 10px;
  align-self: center;
  width: 10rem;
  height: 2.5rem;
  padding: .5rem;
  position: relative;
}

#cooldown-div:after, #cooldown-div:before {
  content: "";
  background-image: var(--gradient, conic-gradient(blue 0%, transparent 0%));
  z-index: -1;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#cooldown-div:before {
  filter: blur(1rem);
  opacity: 1;
}

#powerful-btn {
  z-index: 2;
  border: none;
  border-radius: 5px;
  width: 10rem;
  height: 2.5rem;
  font-size: .9rem;
  transition: all .3s;
  position: relative;
}

#message {
  align-self: center;
}

@keyframes coolText {
  0% {
    font-size: 1.5rem;
    transform: rotate(0);
  }

  5% {
    font-size: 1.4rem;
    transform: rotate(2deg);
  }

  10% {
    font-size: 1.3rem;
    transform: rotate(-2deg);
  }

  15% {
    font-size: 1.2rem;
    transform: rotate(3deg);
  }

  20% {
    transform: rotate(-3deg);
  }

  25% {
    transform: rotate(0);
  }

  50% {
    font-size: 2rem;
  }

  100% {
    transform: rotate(0);
  }
}

@keyframes coolTextUpsideDown {
  0% {
    font-size: 1.5rem;
    transform: rotate(180deg);
  }

  5% {
    font-size: 1.4rem;
    transform: rotate(182deg);
  }

  10% {
    font-size: 1.3rem;
    transform: rotate(178deg);
  }

  15% {
    font-size: 1.2rem;
    transform: rotate(183deg);
  }

  20% {
    transform: rotate(177deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    font-size: 2rem;
  }

  100% {
    transform: rotate(180deg);
  }
}

@keyframes displacement {
  0% {
    background-color: red;
    top: 0;
    left: 0;
  }

  25% {
    background-color: green;
    top: 0;
    left: 100%;
    transform: translateX(-100%);
  }

  50% {
    background-color: #00f;
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
  }

  75% {
    background-color: #ff0;
    top: 100%;
    left: 0;
    transform: translateY(-100%);
  }

  100% {
    background-color: red;
    top: 0;
    left: 0;
  }
}

body {
  color: #111;
  background-color: #eee;
  border-color: #111;
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.7rem;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #eee;
    background-color: #333;
    border-color: #eee;
  }
}
/*# sourceMappingURL=index.971c2ea4.css.map */
