// Animation layout

.animation-display-frame {
    height: 400px;

    display: flex;
    flex-direction: row;
}

.animation-description {
    flex: 1;
    padding: 0.5rem;
}

.animation-box {
    flex: 1;
    border: 1px solid;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

// Animation elements

#animation-text {
    align-self: center;
    position: relative;
    font-size: 1.5rem;
    user-select: none;
    cursor: default;
    animation: coolText 2s infinite;
}
#animation-text:hover {
    transform: rotate(180deg);
    animation: coolTextUpsideDown 2s infinite;
}

#circle-displacement {
    position: absolute;
    background-color: green;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    animation: displacement 4s ease-in-out infinite;
}

#cooldown-div {
    align-self: center;
    position: relative;
    padding: 0.5rem;
    width: 10rem;
    height: 2.5rem;
    z-index: 1;
    border-radius: 10px;
}

// Sadly, I had to use a normal CSS variable in order for the blur effect to work without bluring the button.
// This is because JavaScript can't update SCSS variables since they become constant values on the webbpage.
#cooldown-div::after,
#cooldown-div::before {
    content: "";
    position: absolute;
    background-image: var(--gradient, conic-gradient(blue 0%, transparent 0%));
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;

    transform: translate(-50%, -50%);
    border-radius: 10px;
    z-index: -1;
}

#cooldown-div::before {
    filter: blur(1rem);
    opacity: 1;
}

#powerful-btn {
    position: relative;
    width: 10rem;
    height: 2.5rem;
    font-size: 0.9rem;

    border: none;
    border-radius: 5px;
    z-index: 2;
    transition: 0.3s;
}

#message {
    align-self: center;
}

// Animation keyframes

@keyframes coolText {
    0% {
        transform: rotate(0deg);
        font-size: 1.5rem;
    }

    5% {
        transform: rotate(2deg);
        font-size: 1.4rem;
    }

    10% {
        transform: rotate(-2deg);
        font-size: 1.3rem;
    }

    15% {
        transform: rotate(3deg);
        font-size: 1.2rem;
    }

    20% {
        transform: rotate(-3deg);
    }

    25% {
        transform: rotate(0deg);
    }

    50% {
        font-size: 2rem;
    }

    100% {
        transform: rotate(0deg);
    }
}
@keyframes coolTextUpsideDown {
    0% {
        transform: rotate(180deg);
        font-size: 1.5rem;
    }

    5% {
        transform: rotate(182deg);
        font-size: 1.4rem;
    }

    10% {
        transform: rotate(178deg);
        font-size: 1.3rem;
    }

    15% {
        transform: rotate(183deg);
        font-size: 1.2rem;
    }

    20% {
        transform: rotate(177deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        font-size: 2rem;
    }

    100% {
        transform: rotate(180deg);
    }
}
@keyframes displacement {
    0% {
        background-color: red;
        left: 0;
        top: 0;
    }

    25% {
        background-color: green;
        left: 100%;
        top: 0;
        transform: translateX(-100%);
    }

    50% {
        background-color: blue;
        left: 100%;
        top: 100%;
        transform: translate(-100%, -100%);
    }

    75% {
        background-color: yellow;
        left: 0;
        top: 100%;
        transform: translateY(-100%);
    }

    100% {
        background-color: red;
        left: 0;
        top: 0;
    }
}
