// Dark Theme
$dath-fg-color: #eee;
$dath-bg-color: #333;

// Light Theme
$lith-fg-color: #111;
$lith-bg-color: #eee;

// Font
$font-stack: Roboto, Helvetica, Arial, sans-serif;
$anime-line-height: 1.7rem;

// Button
$btn-color: #00ffaa;
$btn-border-color: #007a52;

// Search Field
$dath-search-bg-color: #007a52;
$lith-search-bg-color: #00ffaa;