// Dark Theme
$dath-fg-color: #eee;
$dath-bg-color: #333;
$dath-header-bg-color: #550055;
$dath-header-nav-bg-color: #00597c;

// Light Theme
$lith-fg-color: #111;
$lith-bg-color: #eee;
$lith-header-bg-color:#ecb8ec;
$lith-header-nav-bg-color: #72cbee;

// Font
$font-stack: Roboto, Helvetica, Arial, sans-serif;
$anime-line-height: 1.7rem;

// Button
$btn-color: #00ffaa;
$btn-border-color: #007a52;

// Search Field
$dath-search-bg-color: #007a52;
$lith-search-bg-color: #00ffaa;