// The layout for the article that holds information about the anime.
%anime-layout {
    display: flex;
    flex-direction: column;

    .poster {
        float: left;
        margin-right: 1rem;

    }

    p {
        margin: 0;
        text-align: justify;
    }
}

@media screen and (max-width: 600px) {
    %anime-layout-mobile {
        .poster {
            float: none;
        }
    }
}