@use "base"; // <----------------- Variables.
@use "layout"; // <--------------- Layouts.
@use "colorscheme"; // <---------- Dark/Light Themes.

body {
    margin: 0;
    @include colorscheme.theme(light);
    @extend %button-theme; // Buttons have the same appearance and visual effects in light/dark theme.

    font-family: base.$font-stack;
}





// The div that holds the anime list.
#anime-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 75px;
}

// The poster for anime
.poster {
    width: 100%;
    max-width: 225px;
    height: auto;
}

// To turn the svg arrow on the previous button the other way.
.prev {
    transform: rotate(180deg);
}

.anime-list-item {
    @extend %anime-layout;
    line-height: base.$anime-line-height;
}

// Changes the theme from the body to all relevant child elements through extension in the theme mixin.
@media (prefers-color-scheme: dark) {
    body {
        @include colorscheme.theme(dark);
    }
}

@media screen and (max-width: 600px) {
    main {
        width: 100%;
    }

    .anime-list-item {
        @extend %anime-layout-mobile;
    }
}
